@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.wrapper {
    position:relative;
    background-color: #F5F5F5;
    font-family: 'OpenSans', Verdana, sans-serif;
}

.svg-map {
    /* background-color: #F5F5F5; */
}

#map-projection {
    height:450px;
    width: 100%;
}

#map-projection-legend {
    width: 100%;
    padding: 1rem 0;
}

#map-projection-tooltip {
    background-color: rgb(220,220,220);
    background-color: rgba(220,220,220,0.90);
    pointer-events: none;
    position:absolute;
    width: 225px;
}

#map-projection-switcher {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1%;
    width: 100%;
}

@media (max-width: 600px) {
    #map-projection {
        width: 100%;
    }

    #map-projection-switcher {
        width: 100%;
    }
}
